<div class="container-fluid" style="height: 100vh;">
    <div class="d-flex flex-column w-100 p-4 h-100 rounded bg-primary ">
        <div class="container row mb-5 m-auto mt-5">
            <div class="col">
                <svg (click)="back()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" style="cursor: pointer;" class="text-light bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </div>
            <div class="col fs-3 text-light fw-bold">POSTS</div>
        </div>
        <div class="container h-100">
            <ng-container *ngIf="user">
                <div class="row h-75">
                    <ng-container *ngFor="let data of post; let i = index">
                        <div class="col-xl-4 col-md-6 col-sm-12 col-lg-6 p-2 position-relative">
                            <div class="card gx-4 p-4 h-100">
                                <div class="card-block">
                                    <h4 class="card-title">{{data.name | titlecase}}</h4>
                                    <div class="row">
                                        <p class="col">
                                            <ng-container *ngIf="!data.showMore">
                                                {{data.body.substring(0,80) }}
                                            </ng-container>
                                            <ng-container *ngIf="data.showMore">
                                                {{data.body}}
                                            </ng-container>
                                            <span style="margin: 0 3px;">...</span>
                                            <a *ngIf="data.showMore" class="col" style="margin: 0 2px; cursor: pointer;" (click)="less(i)">less</a>
                                            <a *ngIf="!data.showMore" class="col" style="margin: 0 2px; cursor: pointer;" (click)="more(i)">more</a>
                                        </p>
                                        <p>Author: <span class="fw-bolder">{{user.name}}</span></p>
                                    </div>
                                    <button class="col-4 position-absolute bottom-0 end-0" style="border: 2px; border-radius: 5px;" (click)="showComments(data)">Comments</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="!user">
                <div class="row h-100 d-flex justify-content-center align-items-center fw-bold text-light border text-center fs-4">No selected user found!</div>
            </ng-container>
        </div>
    </div>
</div>